@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components
@using System.Net.Http
@using System.Net.Http.Json
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using Microsoft.JSInterop

@using MediatR
@using Sentinel.ConnectionChecks;


<div>
    <hr class="my-4">
    <h4 class="mb-3">AzureAppConfig</h4>
    <p> @(RequestValue.Url)  </p>
    <div class="row g-3">
        <div class="col-sm-6">
            <label for="url" class="form-label">URL</label>
          @*   <input type="text" class="form-control" id="url" placeholder="URL" @bind-value="RequestValue.Url">  *@
           @* <input type="text" class="form-control" id="url" placeholder="URL" value="@RequestValue.Url" @onchange=UrlChanged>  *@
        </div>

       

    </div>
</div>

@code {
    [Parameter]
    public string URL { get; set; }

    [Parameter]
    public AzureAppConfigConnectionCheckRequest RequestValue { get; set; }


    [Parameter]
    public EventCallback<AzureAppConfigConnectionCheckRequest> RequestValueChanged { get; set; }

    private async Task UrlChanged(ChangeEventArgs e)
    {
        
        //RequestValue.Url = e.Value.ToString();
        await RequestValueChanged.InvokeAsync(RequestValue);
        this.StateHasChanged();
    }
}