@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components
@using System.Net.Http
@using System.Net.Http.Json
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using Microsoft.JSInterop

@using MediatR
@using Sentinel.ConnectionChecks;


<hr class="my-4">
<h4 class="mb-3">Service Bus</h4>
<div class="row g-3">
    <div class="col-sm-12">
        <input type="text" class="form-control" id="connectionstring_sb" placeholder="Connection String" @bind="RequestValue.ConnectionString">
    </div>

    <div class="col-sm-12">
        <input type="text" class="form-control" id="queuename" placeholder="Queue Name" @bind="RequestValue.QueueName">
    </div>
</div>

@code {
    [Parameter]
    public string URL { get; set; }

    [Parameter]
    public ServiceBusConnectionCheckRequest RequestValue { get; set; }


    [Parameter]
    public EventCallback<ServiceBusConnectionCheckRequest> RequestValueChanged { get; set; }

    private async Task UrlChanged(ChangeEventArgs e)
    {

        RequestValue.Url = e.Value.ToString();
        await RequestValueChanged.InvokeAsync(RequestValue);
        this.StateHasChanged();
    }
}