@page "/connectivity-checker"


<Card Size="CardSize.Default">
    <CardHeader>
        <h3>Check Connectivity</h3>
    </CardHeader>
    <CardBody>
        Card Body
    </CardBody>
</Card>

<Card Size="CardSize.Default">
    <CardBody>
        <CardTitle>
            <h3>Header in the body</h3>
        </CardTitle>
        Card Body
    </CardBody>
</Card>

@code {

}
